<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>noun: a deviation from what is normal or expected</string>
	<string>noun: the ability to go into (when somebody or something must allow you to enter)

 verb: to go into something when allowed to enter</string>
	<string>noun: bitterness and ill will</string>
	<string>adjective: good enough for what you need</string>
	<string>adjective: serving to warn; expressing reproof or reproach especially as a corrective</string>
	<string>noun: one who professes great sensitivity to the beauty of art and nature</string>
	<string>adjective: concerned with the appreciation of beauty

noun: a set of principles underlying and guiding the work of a particular artist or artistic movement.</string>
	<string>verb: provide with an opportunity</string>
	<string>noun: a mixture of multiple things</string>
	<string>adverb: in a frenzied or uncontrolled state</string>
	<string>adverb: more than is adequate</string>
	<string>noun: something that is inappropriate for the given time period (usually something old).</string>
	<string>noun: intense hostility</string>
	<string>noun: something that soothes or relieves pain

adjective: inoffensive</string>
	<string>noun: something that is not normal, standard, or expected</string>
	<string>adjective: marked by a lack of interest</string>
	<string>noun: the highest point</string>
	<string>adjective: something that is concise and instructive of a general truth or principle</string>
	<string>noun: great coolness and composure under strain</string>
	<string>noun: the highest point</string>
	<string>noun: a person who has abandoned a religious faith or cause</string>
	<string>noun: a short, pithy instructive saying</string>
	<string>noun: exaltation to divine status; the highest point of development</string>
	<string>verb: pacify by acceding to the demands of</string>
	<string>adjective: expressing praise or approval</string>
	<string>adjective: supply added support</string>
	<string>adjective: to be deliberately teasing</string>
	<string>adjective: complete and wholly (usually modifying a noun with negative connotation)</string>
	<string>noun: a person who has recently reached a position of power; a social climber</string>
	<string>verb: seize and control without authority</string>
	<string>adjective: exhibiting artistic skill;

adjective: clever in a cunning way</string>
	<string>noun: cunning tricks used to deceive others</string>
	<string>adjective: without cunning or deceit</string>
	<string>noun: the quality of innocence</string>
	<string>noun: the state that exists when one person or group has power over another</string>
	<string>verb: attribute or credit to</string>
	<string>adverb: with a look of suspicion or disapproval</string>
	<string>adverb: with care and persistence</string>
	<string>noun: a reappearance of an earlier characteristic; throwback</string>
	<string>noun: aggressive boldness in social situations</string>
	<string>verb: enlarge or increase; improve</string>
	<string>adjective: characteristic of an absolute ruler or absolute rule; having absolute sovereignty

adjective: offensively self-assured or given to exercising usually unwarranted power</string>
	<string>adverb: In an autonomous or self-governing manner.</string>
	<string>adjective: excessively greedy</string>
	<string>verb: turn away

verb: ward off or prevent</string>
	<string>noun: a trite or obvious remark</string>
	<string>adjective: the lowest, class were without any moral principles</string>
	<string>noun: an act that debases or corrupts</string>
	<string>adjective: blissfully happy</string>
	<string>adjective: appropriate, and matches nicely</string>
	<string>verb: to evade or dodge (a question)</string>
	<string>verb: to envy someone for possessing or enjoying something

verb: to give reluctantly</string>
	<string>verb: to be one's duty or obligation</string>
	<string>verb: lessen the importance, dignity, or reputation of</string>
	<string>adjective: warlike; inclined to quarrel</string>
	<string>verb: express discontent or a strong regret</string>
	<string>adjective: fallen into a state of ignorance</string>
	<string>adjective: unhappy in love; suffering from unrequited love

adjective: sorrowful through loss or deprivation</string>
	<string>verb: harass, as with questions or requests; cause to feel distressed or worried</string>
	<string>adjective: strongly affectionate towards

adjective: very drunk</string>
	<string>verb: to reveal or make known something, usually unintentionally</string>
	<string>adjective: irritable; always angry</string>
	<string>adjective: having a depressing or gloomy outlook</string>
	<string>adjective: to have a limited outlook or understanding</string>
	<string>adjective: ill-mannered and coarse or contemptible in behavior or appearance</string>
	<string>verb: edit by omitting or modifying parts considered indelicate</string>
	<string>noun: a strong verbal attack</string>
	<string>adverb: in a blunt, direct manner</string>
	<string>adjective: relating to the pleasant aspects of the country</string>
	<string>adjective: lacking physical movement skills, especially with the hands</string>
	<string>adjective: emaciated; gaunt</string>
	<string>noun: making of a false statement meant to injure a person's reputation</string>
	<string>adjective: a straightforward and honest look at something</string>
	<string>noun: the quality of being honest and straightforward in attitude and speech</string>
	<string>noun noun: the amount or volume something can hold ability (especially mental)</string>
	<string>adjective: determined by chance or impulse or whim rather than by necessity or reason</string>
	<string>adjective: persistently petty and unjustified criticism</string>
	<string>noun: an event resulting in great loss and misfortune</string>
	<string>noun: something that speeds up an event</string>
	<string>adjective: given to haughty disregard of others</string>
	<string>noun: speed, rapidity</string>
	<string>adjective: involving intelligence rather than emotions or instinct</string>
	<string>verb: to reprimand harshly</string>
	<string>verb: to reprimand harshly</string>
	<string>noun: fanatical patriotism; belief that one's group/cause is superior to all other groups/causes</string>
	<string>noun: a person who believes in the superiority of their group</string>
	<string>adjective: one that is marked by disreputable happenings</string>
	<string>noun: something desired or wished for but is only an illusion and impossible to achieve</string>
	<string>verb: to chuckle, laugh merrily</string>
	<string>adjective: lacking manners or refinement</string>
	<string>noun: leniency and compassion shown toward offenders by a person or agency charged with administering justice</string>
	<string>noun: agreement on a secret plot</string>
	<string>adjective: worthy of high praise</string>
	<string>adjective: showing a cheerful willingness to do favors for others</string>
	<string>adjective: Associated with or participating in an activity, especially one of a questionable nature.</string>
	<string>adjective: describing an event or situation that happens at the same time as or in connection with another</string>
	<string>verb: taking part in immoral and unethical plots</string>
	<string>verb: taking part in immoral and unethical plots</string>
	<string>verb: to make holy or set apart for a high purpose</string>
	<string>noun: a citizen who is represented in a government by officials for whom he or she votes

noun: an abstract part of something</string>
	<string>noun: something that limits or restricts</string>
	<string>verb: interpreted in a particular way</string>
	<string>adjective: scornful, looking down at others with a sneering attitude</string>
	<string>noun: a gathering of persons representative of some larger group

adjective: possible but not certain to occur</string>
	<string>noun: the feeling of remorse or guilt that comes from doing something bad</string>
	<string>verb: to pull off a plan or scheme, usually through skill or trickery</string>
	<string>adjective: describing a lively atmosphere</string>
	<string>noun: a practical consequence that follows naturally</string>
	<string>verb: treat with excessive indulgence</string>
	<string>adjective: being of equal extent or scope or duration</string>
	<string>adjective: deserving of praise but not that amazing</string>
	<string>noun: tendency to believe readily</string>
	<string>verb: cause to take on a definite and clear shape</string>
	<string>verb: reach the highest or most decisive point</string>
	<string>noun: a state of guilt</string>
	<string>noun: greed for money</string>
	<string>noun: destroying or killing a large part of the population</string>
	<string>adjective: characterized by good taste in manners and conduct</string>
	<string>adjective: showing respect</string>
	<string>verb: reduce in worth or character, usually verbally</string>
	<string>verb: to insult; to cause someone to lose dignity or respect</string>
	<string>adjective: given to or marked by the open expression of emotion</string>
	<string>adjective: to be modest and shy</string>
	<string>verb: be a sign or indication of; have as a meaning</string>
	<string>adjective: abusing vocally; expressing contempt or ridicule</string>
	<string>verb: come from; be connected by a relationship of blood, for example

verb: reason by deduction; establish by deduction</string>
	<string>adjective: expressed as worthless or in negative terms</string>
	<string>adjective: uninteresting, lacking vitality</string>
	<string>noun: something desired as a necessity</string>
	<string>preposition: even with (when an event is surprising because of some difficulty)</string>
	<string>noun: a cruel and oppressive dictator</string>
	<string>adjective: poor enough to need help from others

adjective: completely wanting or lacking (usually "destitute of")</string>
	<string>adjective: (sometimes followed by "to") causing harm or injury</string>
	<string>verb: pass on or delegate to another

verb: grow worse (usually "devolve into")</string>
	<string>adjective: to be extremely wicked like the devil</string>
	<string>adjective: expecting unquestioning obedience; characteristic of an absolute ruler</string>
	<string>verb: be a distinctive feature, attribute, or trait (sometimes in positive sense)

verb: evolve so as to lead to a new species or develop in a way most suited to the environment</string>
	<string>adjective: in terrible condition</string>
	<string>noun: to indicate smallness

adjective: very small</string>
	<string>verb: deprive of voting rights</string>
	<string>adjective: made less hopeful or enthusiastic</string>
	<string>adjective: not straightforward; giving a false appearance of frankness</string>
	<string>noun: an exemption from a rule or obligation</string>
	<string>noun: a living full of debauchery and indulgence in sensual pleasure</string>
	<string>adjective: easily handled or managed; willing to be taught or led or supervised or directed</string>
	<string>verb: to pursue relentlessly; to hound</string>
	<string>adjective: highly opinionated, not accepting that your belief may not be correct</string>
	<string>adjective: filled with or evoking sadness</string>
	<string>adjective: brave; bold; courageous</string>
	<string>verb: fit together tightly, as if by means of a interlocking joint</string>
	<string>noun: compulsory force or threat</string>
	<string>adjective: avoiding waste, efficient</string>
	<string>adjective: enlightening or uplifting so as to encourage intellectual or moral improvement</string>
	<string>adjective: marked by high spirits or excitement</string>
	<string>noun: a conceited and self-centered person</string>
	<string>adjective: standing out in negative way; shockingly bad</string>
	<string>verb: To live off meager resources, to scrape by</string>
	<string>adjective: expressing sorrow</string>
	<string>adjective: difficult to capture or difficult to remember</string>
	<string>verb: make more attractive by adding ornament, colour, etc.; make more beautiful</string>
	<string>adjective: involved in argument or contention</string>
	<string>adjective: showing understanding and ready comprehension of other peoples' states and emotions</string>
	<string>noun: any method that derives knowledge from experience, used in experimental science as a way to gain insight and knowledge</string>
	<string>verb: attraction or feeling of love</string>
	<string>verb: give instructions to or direct somebody to do something with authority</string>
	<string>noun: an act of extreme wickedness</string>
	<string>adjective: fixed firmly or securely</string>
	<string>verb: determine the number or amount of

verb: specify individually, one by one</string>
	<string>noun: a sudden revelation or moment of insight</string>
	<string>noun: the name derived from a person (real or imaginary); the person for whom something is named</string>
	<string>adjective: fair to all parties as dictated by reason and conscience</string>
	<string>adjective: confusing or ambiguous</string>
	<string>verb: to completely destroy</string>
	<string>verb: to make an error</string>
	<string>adjective: not real or genuine; phony</string>
	<string>adjective: without partiality</string>
	<string>adjective: extremely painful</string>
	<string>noun: critical explanation or analysis, especially of a text</string>
	<string>noun: something to be imitated</string>
	<string>verb: be characteristic of

verb: clarify by giving an example of</string>
	<string>noun: the quality of being meager</string>
	<string>verb: add details or explanation; clarify the meaning; state in depth</string>
	<string>verb: add details or explanation; clarify the meaning; state in depth</string>
	<string>verb: to eliminate completely</string>
	<string>adjective: making less guilty or more forgivable</string>
	<string>adjective: produced by, or characterized by internal dissension</string>
	<string>adjective: artificial; not natural</string>
	<string>adjective: terribly evil</string>
	<string>verb: to search for something persistently</string>
	<string>verb: to celebrate a person</string>
	<string>verb: achieve something by means of trickery or devious methods</string>
	<string>noun: someone who deliberately creates trouble</string>
	<string>verb: to deceive</string>
	<string>adjective: showing inappropriate levity</string>
	<string>verb: be a mystery or bewildering to</string>
	<string>noun: a state of uncertainty about what should be done (usually following some important event)</string>
	<string>adjective: marked by defiant disregard for danger or consequences</string>
	<string>adjective: marked by or showing hopelessness</string>
	<string>adjective: available when required or as promised

adjective: at ease in talking to others</string>
	<string>adjective: occurring by happy chance; having no cause or apparent cause</string>
	<string>adjective: irritable and is likely to cause disruption</string>
	<string>noun: a maneuver or risk in a game or conversation, designed to secure an advantage</string>
	<string>verb: to manipulate voting districts in order to favor a particular political party</string>
	<string>verb: collect information bit by bit</string>
	<string>verb: laugh boisterously</string>
	<string>adjective: free of deceit</string>
	<string>noun: resourcefulness and determination</string>
	<string>adjective: excessively flattering toward someone's life or work</string>
	<string>verb: enthusiastically acclaim or celebrate something</string>
	<string>verb: made ineffective or powerless</string>
	<string>verb: made ineffective or powerless</string>
	<string>adjective: troubled persistently especially with petty annoyances</string>
	<string>adjective: having or showing arrogant superiority to and disdain of those one views as unworthy</string>
	<string>verb: to bully or intimidate</string>
	<string>verb: to limit or qualify a statement; to avoid making a direct statement</string>
	<string>noun: a person who holds unorthodox opinions in any field (not merely religion)</string>
	<string>noun: the pinnacle or top of a time period or career</string>
	<string>verb: to pursue relentlessly</string>
	<string>adjective: defying tradition or convention</string>
	<string>adjective: dishonorable</string>
	<string>adjective: (used of conduct or character) deserving or bringing disgrace or shame</string>
	<string>adjective: contrary to or forbidden by law</string>
	<string>adjective: free from undue bias or preconceived opinions</string>
	<string>adjective: does not allow fluids to pass through</string>
	<string>adjective: describing a statement that is not believable</string>
	<string>verb: convey a meaning; imply

verb: to indicate in wrongdoing, usually a crime</string>
	<string>verb: convey a meaning; imply

verb: to indicate in wrongdoing, usually a crime</string>
	<string>adjective: impossible to estimate or figure out</string>
	<string>verb: beg persistently and urgently</string>
	<string>adjective: immune to attack; incapable of being tampered with</string>
	<string>adjective: not given careful consideration</string>
	<string>verb: attribute (responsibility or fault) to something</string>
	<string>noun: total lack of meaning or ideas</string>
	<string>adjective: without or deprived of the use of speech or words</string>
	<string>adjective: having or demonstrating ability to recognize or draw fine distinctions</string>
	<string>adjective: lacking in harmony or compatibility or appropriateness</string>
	<string>noun: the trait of seeming not to care</string>
	<string>adjective: feeling anger over a perceived injustice</string>
	<string>noun: injustice by virtue of not conforming with rules or standards</string>
	<string>adjective: extremely controversial, incendiary</string>
	<string>adjective: not easily understood; unfathomable</string>
	<string>adjective: working in a subtle but destructive way</string>
	<string>adjective: unable to pay one's bills; bankrupt</string>
	<string>noun: lack of concern</string>
	<string>adjective: intolerable, difficult to endure</string>
	<string>adjective: (of conflict) within a group or organization</string>
	<string>noun: an indirect suggestion</string>
	<string>adjective: never to be broken, infringed, or dishonored</string>
	<string>adjective: must be kept sacred</string>
	<string>adjective: complicated, and difficult to comprehend</string>
	<string>adjective: impossible to deny or disprove</string>
	<string>adjective: uncertain how to act or proceed</string>
	<string>adjective: incapable of being retracted or revoked</string>
	<string>adjective: traveling from place to place to work</string>
	<string>noun: fanatical patriotism</string>
	<string>noun: an aggressive takeover by a group (usually military)</string>
	<string>verb: place side by side</string>
	<string>verb: to bow or act in a subservient manner</string>
	<string>noun: a name or phrase given to a group of things to identify them (often negative)

verb: to give a label to something</string>
	<string>verb: criticize severely or angrily</string>
	<string>noun: extreme generosity and giving</string>
	<string>adjective: lecherous; sexually perverted</string>
	<string>adjective: worthy of high praise</string>
	<string>noun: any long and tedious account of something</string>
	<string>verb: engage in plotting or enter into a conspiracy, swear together</string>
	<string>adjective: offensively self-assured or given to exercising unwarranted power</string>
	<string>adjective: noble and generous in spirit, especially towards a rival or someone less powerful</string>
	<string>verb: to assert</string>
	<string>noun: a disease or sickness</string>
	<string>noun: the confusion of a word with another word that sounds similar</string>
	<string>adjective: misconduct or wrongdoing (especially by a public official)</string>
	<string>noun: someone shirking their duty by pretending to be sick or incapacitated</string>
	<string>adjective: suggesting war or military life</string>
	<string>verb: wander aimlessly

verb: speak (about unimportant matters) rapidly and incessantly</string>
	<string>noun: a short saying expressing a general truth</string>
	<string>noun: a deep, long-lasting sadness</string>
	<string>noun: a wild, confusing fight or struggle</string>
	<string>noun: the tendency to be untruthful</string>
	<string>noun: a pauper who lives by begging</string>
	<string>verb: to spellbind or enthrall</string>
	<string>adjective: filled with courage or valor</string>
	<string>adjective: filled with courage or valor</string>
	<string>noun: a hater of mankind</string>
	<string>verb: To erroneously attribute; to falsely ascribe; used especially of authorship.</string>
	<string>noun: a person who doesn't like to spend money (because they are greedy)</string>
	<string>noun: a person who dislikes women in particular</string>
	<string>noun: significant and important value</string>
	<string>adjective: open to argument or debate; undecidable in a meaningless or irrelevant way</string>
	<string>verb: To undergo dramatic change in a seamless and barely noticeable fashion.</string>
	<string>verb: to defraud or swindle</string>
	<string>adjective: softened, subdued</string>
	<string>adjective: so small as to be meaningless; insignificant</string>
	<string>adjective: causing irritation or annoyance</string>
	<string>verb: unsure how to act or respond</string>
	<string>verb: express strong disapproval of</string>
	<string>adjective: be valid, applicable, or true</string>
	<string>noun: wealth as evidenced by sumptuous living</string>
	<string>adjective: marked by elaborate rhetoric and elaborated with decorative details</string>
	<string>adjective: arrogant; presumptuous</string>
	<string>noun: something that has been changed numerous times but on which traces of former iterations can still be seen</string>
	<string>adjective: seemingly contradictory but nonetheless possibly true</string>
	<string>adjective: narrowly restricted in scope or outlook</string>
	<string>noun: a person who has suddenly become wealthy, but not socially accepted as part of a higher class</string>
	<string>adjective: relating to the countryside in a pleasant sense</string>
	<string>adjective: relating to or involving money</string>
	<string>adjective: marked by a narrow focus on or display of learning especially its trivial aspects</string>
	<string>adjective: easily irritated or annoyed</string>
	<string>adjective: lacking money; poor

adjective: miserly</string>
	<string>verb: to be aware of, to sense or feel</string>
	<string>adjective: highly perceptive</string>
	<string>adjective: lasting an indefinitely long time; eternal; everlasting</string>
	<string>verb: cause to continue</string>
	<string>adjective: illusive; unreal</string>
	<string>adjective: trifling or petty (a person)</string>
	<string>noun: the most essential part of something</string>
	<string>adjective: (of movement) slow and laborious</string>
	<string>noun: a clever plan to turn a situation to one's advantage</string>
	<string>adjective: marked by courage and determination</string>
	<string>adjective: emotionally touching</string>
	<string>adjective: extremely optimistic</string>
	<string>noun: an informal meeting or discussion</string>
	<string>adjective: characterized by or characteristic of exceptionally early development or maturity (especially in mental aptitude)</string>
	<string>adjective: done before someone else can do it</string>
	<string>noun: a feeling of evil to come</string>
	<string>noun: an assumption that is taken for granted

noun: audacious (even arrogant) behavior that you have no right to</string>
	<string>noun: the state of being first in importance</string>
	<string>adjective: plentiful; pouring out in abundance</string>
	<string>noun: a statement made about the future</string>
	<string>adjective: intellectually productive</string>
	<string>noun: boring verbosity</string>
	<string>adjective: eager to fight or argue; verbally combative</string>
	<string>adjective: powerful</string>
	<string>adjective: describing a victory that comes at such a great cost that the victory is not worthwhile</string>
	<string>noun: uneasiness about the fitness of an action</string>
	<string>noun: a witty saying or remark

verb: to make a witty remark, to say in jest</string>
	<string>noun: a traitor</string>
	<string>noun: a person skilled in telling anecdotes</string>
	<string>noun: a large number of something</string>
	<string>noun: light teasing</string>
	<string>verb: make more subtle or refined</string>
	<string>verb: criticize severely or angrily; censure</string>
	<string>noun: a summary (think of recap)</string>
	<string>noun: mutual accusations</string>
	<string>verb: to break out or happen again</string>
	<string>noun: an act of making something right</string>
	<string>verb: to put your name or other information in a list for something 

verb: to identify and show on a tool for measuring</string>
	<string>verb: assign to a lower position</string>
	<string>verb: to make objections while pleading</string>
	<string>noun: a retaliatory action against an enemy in wartime</string>
	<string>noun: an unstated doubt that prevents you from accepting something wholeheartedly</string>
	<string>noun: the acceptance of something unpleasant that can't be avoided</string>
	<string>verb: reach a conclusion after a discussion or deliberation</string>
	<string>noun: some saved material that can be used for a purpose (especially money, anything used to make energy such as oil, or information sources such as books)</string>
	<string>adjective: rising again as to new life and vigor</string>
	<string>adjective: to be shy, and to be inclined to retract from company</string>
	<string>adjective: feeling or showing profound respect or veneration</string>
	<string>noun: an angry dispute</string>
	<string>adjective: having good judgement and acute insight</string>
	<string>noun: calmness or poise in difficult situations</string>
	<string>adjective: disdainfully or ironically humorous; scornful and mocking</string>
	<string>noun: joy from watching the suffering of others</string>
	<string>adjective: describes someone who is brilliant and lively</string>
	<string>noun: an abusive rant (often tedious)</string>
	<string>adjective: reluctant to draw attention to yourself</string>
	<string>noun: an outward or token appearance or form that is deliberately misleading</string>
	<string>adjective: to be moralizing, usually in a pompous sense</string>
	<string>adjective: effusively or insincerely emotional, especially in art, music, and literature</string>
	<string>noun: a representation of a person (especially in the form of sculpture)

noun: a bad imitation</string>
	<string>adjective: carelessly and hastily put together</string>
	<string>adjective: expressive of contempt; derogatory or mocking in an indirect way</string>
	<string>noun: a socially awkward or tactless act</string>
	<string>noun: a feeling of excessive concern</string>
	<string>adjective: very irritable</string>
	<string>adjective: characterized by dignity and propriety</string>
	<string>verb: to suddenly move in a particular direction</string>
	<string>verb: to hold back or limit the flow or growth of something</string>
	<string>noun: a regular allowance (of money)</string>
	<string>verb: contain or include

verb: consider (an instance of something) as part of a general rule or principle</string>
	<string>adjective: in opposition to a civil authority or government</string>
	<string>adjective: revealing</string>
	<string>noun: the trait of avoiding excesses</string>
	<string>adjective: moderated in effect</string>
	<string>adjective: very thorough; complete</string>
	<string>adjective: spending money wisely</string>
	<string>verb: change or alter in form, appearance, or nature</string>
	<string>noun: something, especially an event, that causes difficulty and suffering</string>
	<string>noun: defiant aggressiveness</string>
	<string>adjective: not making concessions</string>
	<string>adjective: unreasonable; unscrupulous; excessive</string>
	<string>verb: to support financially</string>
	<string>adjective: admitting of no doubt or misunderstanding; having only one meaning or interpretation and leading to only one conclusion</string>
	<string>adjective: uncooperative, not willing to give up information</string>
	<string>verb: to make nervous or upset</string>
	<string>adjective: having never been done or known before; novel</string>
	<string>adjective: creating an unfavorable or neutral first impression</string>
	<string>adjective: (of a circumstance) with little chance of success</string>
	<string>adjective: without scruples or principles</string>
	<string>adjective: not in keeping with accepted standards of what is right or proper in polite society</string>
	<string>adjective: very generous</string>
	<string>adjective: not confined or limited</string>
	<string>adjective: not able to work, survive, or succeed (also spelled inviable).</string>
	<string>adjective: highly or widely praised or boasted about</string>
	<string>noun: the condition of being susceptible to bribes or corruption</string>
	<string>noun: the appearance of truth</string>
	<string>verb: compete for something</string>
	<string>noun: an ill-tempered or violent woman</string>
	<string>noun: abusive or venomous language used to express blame or bitter deep-seated ill will</string>
	<string>noun: the quality of talking or writing easily and continuously</string>
	<string>adjective: without check or limitation; showing no moral restraints to one's anger, desire, or appetites</string>
	<string>noun: spirit of the times</string>
</array>
</plist>