<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>aberration</string>
	<string>access</string>
	<string>acrimony</string>
	<string>adequate</string>
	<string>admonitory</string>
	<string>aesthete</string>
	<string>aesthetic</string>
	<string>afford</string>
	<string>amalgam</string>
	<string>amok</string>
	<string>amply</string>
	<string>anachronism</string>
	<string>animosity</string>
	<string>anodyne</string>
	<string>anomaly</string>
	<string>apathetic</string>
	<string>apex</string>
	<string>aphoristic</string>
	<string>aplomb</string>
	<string>apogee</string>
	<string>apostate</string>
	<string>apothegm</string>
	<string>apotheosis</string>
	<string>appease</string>
	<string>approbatory</string>
	<string>appurtenant</string>
	<string>arch</string>
	<string>arrant</string>
	<string>arriviste</string>
	<string>arrogate</string>
	<string>artful</string>
	<string>artifice</string>
	<string>artless</string>
	<string>artlessness</string>
	<string>ascendancy</string>
	<string>ascribe</string>
	<string>askance</string>
	<string>assiduously</string>
	<string>atavism</string>
	<string>audacity</string>
	<string>augment</string>
	<string>autocratic</string>
	<string>autonomously</string>
	<string>avaricious</string>
	<string>avert</string>
	<string>banality</string>
	<string>base</string>
	<string>bastardization</string>
	<string>beatific</string>
	<string>becoming</string>
	<string>beg</string>
	<string>begrudge</string>
	<string>behooves</string>
	<string>belittle</string>
	<string>bellicose</string>
	<string>bemoan</string>
	<string>benighted</string>
	<string>bereft</string>
	<string>besiege</string>
	<string>besotted</string>
	<string>betray</string>
	<string>bilious</string>
	<string>bleak</string>
	<string>blinkered</string>
	<string>boorish</string>
	<string>bowdlerize</string>
	<string>broadside</string>
	<string>brusquely</string>
	<string>bucolic</string>
	<string>bumbling</string>
	<string>cadaverous</string>
	<string>calumny</string>
	<string>candid</string>
	<string>candidness</string>
	<string>capacity</string>
	<string>capricious</string>
	<string>carping</string>
	<string>cataclysm</string>
	<string>catalyst</string>
	<string>cavalier</string>
	<string>celerity</string>
	<string>cerebral</string>
	<string>chastise</string>
	<string>chastise</string>
	<string>chauvinism</string>
	<string>chauvinist</string>
	<string>checkered</string>
	<string>chimera</string>
	<string>chortle</string>
	<string>churlish</string>
	<string>clemency</string>
	<string>collusion</string>
	<string>commendable</string>
	<string>complaisant</string>
	<string>complicit</string>
	<string>concomitant</string>
	<string>conniving</string>
	<string>conniving</string>
	<string>consecrate</string>
	<string>constituent</string>
	<string>constraint</string>
	<string>construe</string>
	<string>contemptuous</string>
	<string>contingent</string>
	<string>contrition</string>
	<string>contrive</string>
	<string>convivial</string>
	<string>corollary</string>
	<string>cosseted</string>
	<string>coterminous</string>
	<string>creditable</string>
	<string>credulity</string>
	<string>crystallize</string>
	<string>culminate</string>
	<string>culpability</string>
	<string>cupidity</string>
	<string>decimation</string>
	<string>decorous</string>
	<string>deferential</string>
	<string>degrade</string>
	<string>demean</string>
	<string>demonstrative</string>
	<string>demure</string>
	<string>denote</string>
	<string>derisive</string>
	<string>derive</string>
	<string>derogative</string>
	<string>desiccated</string>
	<string>desideratum</string>
	<string>despite</string>
	<string>despot</string>
	<string>destitute</string>
	<string>detrimental</string>
	<string>devolve</string>
	<string>diabolical</string>
	<string>dictatorial</string>
	<string>differentiate</string>
	<string>dilapidated</string>
	<string>diminutive</string>
	<string>disenfranchise</string>
	<string>disheartened</string>
	<string>disingenuous</string>
	<string>dispensation</string>
	<string>dissolution</string>
	<string>docile</string>
	<string>dog</string>
	<string>dogmatic</string>
	<string>doleful</string>
	<string>doughty</string>
	<string>dovetail</string>
	<string>duress</string>
	<string>economical</string>
	<string>edifying</string>
	<string>effervescent</string>
	<string>egotist</string>
	<string>egregious</string>
	<string>eke</string>
	<string>elegiac</string>
	<string>elusive</string>
	<string>embellish</string>
	<string>embroiled</string>
	<string>empathetic</string>
	<string>empiricism</string>
	<string>enamor</string>
	<string>enjoin</string>
	<string>enormity</string>
	<string>entrenched</string>
	<string>enumerate</string>
	<string>epiphany</string>
	<string>eponym</string>
	<string>equitable</string>
	<string>equivocal</string>
	<string>eradicate</string>
	<string>err</string>
	<string>ersatz</string>
	<string>evenhanded</string>
	<string>excruciating</string>
	<string>exegesis</string>
	<string>exemplar</string>
	<string>exemplify</string>
	<string>exiguity</string>
	<string>expound</string>
	<string>expound</string>
	<string>expunge</string>
	<string>extenuating</string>
	<string>factious</string>
	<string>factitious</string>
	<string>fell</string>
	<string>ferret</string>
	<string>fete</string>
	<string>finagle</string>
	<string>firebrand</string>
	<string>fleece</string>
	<string>flippant</string>
	<string>flummox</string>
	<string>flux</string>
	<string>foolhardy</string>
	<string>forlorn</string>
	<string>forthcoming</string>
	<string>fortuitous</string>
	<string>fractious</string>
	<string>gambit</string>
	<string>gerrymander</string>
	<string>glean</string>
	<string>guffaw</string>
	<string>guileless</string>
	<string>gumption</string>
	<string>hagiographic</string>
	<string>hail</string>
	<string>hamstrung</string>
	<string>hamstrung</string>
	<string>harried</string>
	<string>haughty</string>
	<string>hector</string>
	<string>hedge</string>
	<string>heretic</string>
	<string>heyday</string>
	<string>hound</string>
	<string>iconoclastic</string>
	<string>ignoble</string>
	<string>ignominious</string>
	<string>illicit</string>
	<string>impartial</string>
	<string>impermeable</string>
	<string>implausible</string>
	<string>implicate</string>
	<string>implicate</string>
	<string>imponderable</string>
	<string>importuned</string>
	<string>impregnable</string>
	<string>improvident</string>
	<string>impute</string>
	<string>inanity</string>
	<string>inarticulate</string>
	<string>incisive</string>
	<string>incongruous</string>
	<string>indifference</string>
	<string>indignant</string>
	<string>inequity</string>
	<string>inflammatory</string>
	<string>inscrutable</string>
	<string>insidious</string>
	<string>insolvent</string>
	<string>insouciance</string>
	<string>insufferable</string>
	<string>internecine</string>
	<string>intimation</string>
	<string>inviolable</string>
	<string>inviolate</string>
	<string>involved</string>
	<string>irrefutable</string>
	<string>irresolute</string>
	<string>irrevocable</string>
	<string>itinerant</string>
	<string>jingoism</string>
	<string>junta</string>
	<string>juxtapose</string>
	<string>kowtow</string>
	<string>label</string>
	<string>lambast</string>
	<string>largess</string>
	<string>lascivious</string>
	<string>laudable</string>
	<string>litany</string>
	<string>machinate</string>
	<string>magisterial</string>
	<string>magnanimous</string>
	<string>maintain</string>
	<string>malady</string>
	<string>malapropism</string>
	<string>malfeasance</string>
	<string>malingerer</string>
	<string>martial</string>
	<string>maunder</string>
	<string>maxim</string>
	<string>melancholy</string>
	<string>melee</string>
	<string>mendacity</string>
	<string>mendicant</string>
	<string>mesmerize</string>
	<string>mettlesome</string>
	<string>mettlesome</string>
	<string>misanthrope</string>
	<string>misattribute</string>
	<string>miser</string>
	<string>misogynist</string>
	<string>moment</string>
	<string>moot</string>
	<string>morph</string>
	<string>mulct</string>
	<string>muted</string>
	<string>negligible</string>
	<string>nettlesome</string>
	<string>nonplussed</string>
	<string>objurgate</string>
	<string>obtain</string>
	<string>opulence</string>
	<string>ornate</string>
	<string>overweening</string>
	<string>palimpsest</string>
	<string>paradoxical</string>
	<string>parochial</string>
	<string>parvenu</string>
	<string>pastoral</string>
	<string>pecuniary</string>
	<string>pedantic</string>
	<string>peevish</string>
	<string>penurious</string>
	<string>perceive</string>
	<string>percipient</string>
	<string>perennial</string>
	<string>perpetuate</string>
	<string>phantasmagorical</string>
	<string>picayune</string>
	<string>pith</string>
	<string>plodding</string>
	<string>ploy</string>
	<string>plucky</string>
	<string>poignant</string>
	<string>Pollyannaish</string>
	<string>powwow</string>
	<string>precocious</string>
	<string>preemptive</string>
	<string>presentiment</string>
	<string>presumption</string>
	<string>primacy</string>
	<string>profuse</string>
	<string>prognostication</string>
	<string>prolific</string>
	<string>prolixity</string>
	<string>pugnacious</string>
	<string>puissant</string>
	<string>pyrrhic</string>
	<string>qualm</string>
	<string>quip</string>
	<string>quisling</string>
	<string>raconteur</string>
	<string>raft</string>
	<string>raillery</string>
	<string>rarefied</string>
	<string>rebuke</string>
	<string>recapitulation</string>
	<string>recrimination</string>
	<string>recrudesce</string>
	<string>redress</string>
	<string>register</string>
	<string>relegate</string>
	<string>remonstrate</string>
	<string>reprisal</string>
	<string>reservation</string>
	<string>resignation</string>
	<string>resolve</string>
	<string>resource</string>
	<string>resurgent</string>
	<string>retiring</string>
	<string>reverent</string>
	<string>row</string>
	<string>sagacious</string>
	<string>sangfroid</string>
	<string>sardonic</string>
	<string>schadenfreude</string>
	<string>scintillating</string>
	<string>screed</string>
	<string>self-effacing</string>
	<string>semblance</string>
	<string>sententious</string>
	<string>sentimental</string>
	<string>simulacrum</string>
	<string>slapdash</string>
	<string>snide</string>
	<string>solecism</string>
	<string>solicitude</string>
	<string>splenetic</string>
	<string>staid</string>
	<string>start</string>
	<string>stem</string>
	<string>stipend</string>
	<string>subsume</string>
	<string>subversive</string>
	<string>telltale</string>
	<string>temperance</string>
	<string>tempered</string>
	<string>thoroughgoing</string>
	<string>thrifty</string>
	<string>transmute</string>
	<string>tribulation</string>
	<string>truculence</string>
	<string>uncompromising</string>
	<string>unconscionable</string>
	<string>underwrite</string>
	<string>unequivocal</string>
	<string>unforthcoming</string>
	<string>unnerve</string>
	<string>unprecedented</string>
	<string>unprepossessing</string>
	<string>unpropitious</string>
	<string>unscrupulous</string>
	<string>unseemly</string>
	<string>unstinting</string>
	<string>untrammeled</string>
	<string>unviable</string>
	<string>vaunted</string>
	<string>venality</string>
	<string>verisimilitude</string>
	<string>vie</string>
	<string>virago</string>
	<string>vitriol</string>
	<string>volubility</string>
	<string>wanton</string>
	<string>zeitgeist</string>
</array>
</plist>